/** Properties which apply to the entire download center **/
body
{
	background-color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#welcome
{
    background: #e0e0e0;
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    padding: 1% 1% 1% 1%;
    text-align: right;
	border-style: inset;
    overflow-y: auto;
}



/** Common properties **/
#separator
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	background: #C0C0C0;
}
#right_bar
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 75%;
	right: 0;
    overflow-y: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
#right_bar a:hover
{
    text-decoration: underline;
}
#left_content
{
	position: absolute;
	left: 0;
	right: 25%;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	padding: 0.1% 0.1% 0.1% 0.1%;
}
#left_content p
{
	margin: 1px 1px 1px 1px;
}
#left_content p a span
{
	vertical-align: 20%;
}
#index
{
    display: flex;
    text-align: center;
}
#index p
{
    margin: 8px 8px 8px 8px;
}
#content a
{
	text-decoration: none;
	color: black;
}


/** Header properties **/
header
{
	background-color: #000080;
	position: absolute;
    height: 18px;
	top: 0;
	left: 0;
	right: 0;
	border: 3px solid #C0C0C0;
	color: white;
}
header a
{
	text-decoration: none;
	color: lightgreen;
}
header img
{
	width: 18px;
	height: 18px;
}
header #site_title
{
	position: relative;
	bottom: 30%;
}
header #left
{
	position: absolute;
	right: 0.4%;
	top: 10%;
}



/** Footer properties **/
footer
{
	position: absolute;
	bottom: 1%;
	left: 1%;
	right: 1%;
	display: flex;
	text-align: center;
}
footer a
{
	margin-right: 1%;
	text-decoration: none;
	color: white;
}
footer p
{
	color: white;
	position: absolute;
	right: 0;
	text-align: right;
}
footer p a
{
	margin-right: 0%;
	color: #000080;
	text-decoration: none;
}



/** 404 page properties **/
#bsod
{
	background-color: #0102AC;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 18px;
}
#bsod h1
{
	display: table;
	padding: 1px 1px 1px 1px;
	margin: auto;
	position: relative;
	text-align: center;
	background-color: #AAAAAA;
	color: #0102AC;
	font-weight: bold;
	top: 30%;
	animation: blink 2s steps(1,end) 0s infinite;
}
@keyframes blink
{
	80% {opacity:0.0;}
}
#bsod p
{
	position: relative;
	color: #FFF;
	display: table;
	margin: auto;
	top: 40%;
	font-weight: bold;
	text-align: center;
}
#bsod a
{
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}
#bsod a:hover
{
	color: #AAAAAA;
	text-decoration: underline;
}
#bsod a:active
{
	background-color: #AAAAAA;
}



/** Admin panel properties **/
#admin
{
	background: white;
}
#admin_left_bar
{
	color: white;
	position: fixed;
	width: 12%;
	background: black;
	left: 0;
	top: 0;
	bottom: 0;
}
#admin_left_bar ul
{
	list-style-type: none;
	position: relative;
	left: -32px;
}
#admin_left_bar a
{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
#admin_left_bar #select_lang
{
    position: absolute;
    left: 5%;
    bottom: 0;
}
#admin_content
{
    padding: 1% 1% 1% 1%;
    border: solid 1px black;
    position: relative;
    width: 85.8%;
    left: 12%;
}



/** Windows 9x window properties **/
#win9x
{
	background-color: white;
	position: absolute;
	top: 5%;
	left: 1%;
	right: 1%;
	bottom: 14%;
}
#win9x #window_top
{
	position: absolute;
	height: 18px;
	top: 4px;
	left: 4px;
	right: 4px;
	background: linear-gradient(to right, #00007B, #0884CE);
}
#win9x #window_top span
{
	position: absolute;
	left: 0.2%;
	top: 9%;
	color: white;
}
#win9x #window_top #cross_button
{
	position: absolute;
	top: 12%;
	right: 0.2%;
}
#win9x #window_top #menu_bar
{
	position: absolute;
	height: 21px;
	top: 18px;
	left: 0;
	right: 0;
	background-image: url('images/win9x/win9x_topmenu.gif');
}
#win9x #window_top #menu_bar a
{
	position: relative;
    bottom: 9%;
    left: -0.4%;
	text-decoration: none;
	vertical-align: middle;
}
#win9x #content
{
	position: absolute;
	left: 4px;
	right: 4px;
	top: 42.8px;
	bottom: 24px;
    overflow-y: auto;
}
#win9x #top_border
{
	height: 4px;
	background-image: url('images/win9x/win9x_topborder.gif');
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
#win9x #top_border #top_left_corner
{
	width: 4px;
	height: 4px;
	background: url('images/win9x/win9x_topleftcorner.gif');
	position: absolute;
	left: 0;
	top: 0;
}
#win9x #top_border #top_right_corner
{
	width: 4px;
	height: 4px;
	background-image: url('images/win9x/win9x_toprightcorner.gif');
	position: absolute;
	right: 0;
	top: 0;
}
#win9x #bottom_border
{
	height: 4px;
	background-image: url('images/win9x/win9x_bottomborder.gif');
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
#win9x #bottom_border #bottom_left_corner
{
	height: 4px;
	width: 4px;
	background-image: url('images/win9x/win9x_bottomleftcorner.gif');
	position: absolute;
	left: 0;
	bottom: 0;
}
#win9x #bottom_border #bottom_right_corner
{
	height: 4px;
	width: 4px;
	background-image: url('images/win9x/win9x_bottomrightcorner.gif');
	position: absolute;
	right: 0;
	bottom: 0;
}
#win9x #bottom_infos
{
	position: absolute;
	bottom: 4px;
	left: 4px;
	right: 4px;
	height: 20px;
	background-image: url('images/win9x/win9x_bottommenu.gif');
}
#win9x #bottom_infos #bottom_right_corner
{
	width: 13px;
	height: 17px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url('images/win9x/win9x_bottomrightmenucorner.gif');
}
#win9x #bottom_infos #bottom_left_corner
{
	width: 1px;
	height: 17px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url('images/win9x/win9x_bottomleftmenucorner.gif');
}
#win9x #bottom_infos #bottom_infos_separator
{
	width: 4px;
	height: 17px;
	position: absolute;
	left: 15%;
	bottom: 0;
	background-image: url('images/win9x/win9x_bottommenuseparator.gif');
}
#win9x #left_border {
	width: 4px;
	background-image: url('images/win9x/win9x_leftborder.gif');
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
#win9x #right_border {
	width: 4px;
	background-image: url('images/win9x/win9x_rightborder.gif');
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}



/** Windows NT window properties **/
#winxp
{
	border-radius: 12px 12px 0 0;
	background: white;
	position: absolute;
	top: 5%;
	left: 1%;
	right: 1%;
	bottom: 14%;
}
#winxp #content
{
	position: absolute;
	left: 4px;
	right: 4px;
	top: 53px;
    bottom: 4px;
	overflow-y: auto;
}
#winxp #window_top
{
	border-radius: 8px 8px 0 0;
	position: absolute;
    height: 30px;
	left: 0px;
	right: 0px;
	background: url('images/winxp/winxp_titlebar.gif');
}
#winxp #window_top span
{
	position: absolute;
	left: 0.6%;
	bottom: 21%;
	color: white;
	font-weight: bold;
}
#winxp #window_top #cross_button
{
	position: absolute;
	top: 15%;
	right: 0.4%;
}
#winxp #window_top #menu_bar
{
	position: absolute;
	height: 24px;
	top: 30px;
	left: 4px;
	right: 4px;
	background-image: url('images/winxp/winxp_topmenu.gif');
}
#winxp #window_top #menu_bar span
{
	position: absolute;
	left: 0.5%;
	top: 16%;
	color: black;
	font-weight: normal;
}
#winxp #window_top #menu_bar span a
{
	text-decoration: none;
}
#winxp #window_top #menu_bar span a:hover
{
	text-decoration: underline;
}
#winxp #window_top #menu_bar span a:visited
{
    text-decoration: none;
    color: black
}
#winxp #window_top #top_left_corner {
	width: 50px;
	height: 30px;
	background: url('images/winxp/winxp_topleftcorner.gif');
	position: absolute;
	left: 0;
	top: 0;
}
#winxp #window_top #top_right_corner {
	width: 50px;
	height: 30px;
	background-image: url('images/winxp/winxp_toprightcorner.gif');
	position: absolute;
	right: 0;
	top: 0;
}
#winxp #bottom_border {
	height: 4px;
	background-image: url('images/winxp/winxp_bottomborder.gif');
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
#winxp #bottom_border #bottom_left_corner {
	height: 4px;
	width: 25px;
	background-image: url('images/winxp/winxp_bottomleftcorner.gif');
	position: absolute;
	left: 0;
	bottom: 0;
}
#winxp #bottom_border #bottom_right_corner {
	height: 4px;
	width: 4px;
	background-image: url('images/winxp/winxp_bottomrightcorner.gif');
	position: absolute;
	right: 0;
	bottom: 0;
}
#winxp #left_border {
	width: 4px;
	background-image: url('images/winxp/winxp_leftborder.gif');
	position: absolute;
	left: 0;
	top: 30px;
	bottom: 0;
}
#winxp #right_border {
	width: 4px;
	background-image: url('images/winxp/winxp_rightborder.gif');
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
}



/** Mac OS window properties **/
#macintosh
{
	background-color: white;
	position: absolute;
	top: 5%;
	left: 1%;
	right: 1%;
	bottom: 14%;
	border: 1px solid black;
}
#macintosh #window_top
{
	position: absolute;
	height: 22px;
	left: 0;
	right: 0;
	background: url('images/macintosh/macos_titlebar.gif');
}
#macintosh #window_top #square_button
{
	position: absolute;
	left: 0.4%;
	top: 14%;
}
#macintosh #window_top #square_button img
{
	width: 12px;
	height: 12px;
}
#macintosh #window_top span
{
	display: table;
	margin: 0 auto;
	background-color: #CECECE;
	border-left: 5px #CECECE solid;
	border-right: 5px #CECECE solid;
}
#macintosh #content
{
	position: absolute;
	left: 0;
	right: 0;
	top: 21px;
	bottom: 0;
	overflow-y: auto;
}



/** MS-DOS/Windows 3.x window properties **/
#win3x
{
	background-color: #FFF;
	position: absolute;
	top: 5%;
	left: 1%;
	right: 1%;
	bottom: 14%;
}
#win3x #window_top
{
	position: absolute;
	height: 23px;
	left: 0;
	right: 0;
	background-color: #000080;
}
#win3x #window_top span
{
	color: white;
	font-weight: bold;
	display: table;
	margin: 0 auto;
	top: 25%;
	position: relative;
}
#win3x #window_top #minus_button
{
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 5;
}
#win3x #left_border
{
	width: 4px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-image:url('images/msdos/win3x_leftrightborder.gif');
}
#win3x #right_border
{
	width: 4px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-image:url('images/msdos/win3x_leftrightborder.gif');
}
#win3x #top_border
{
	height: 4px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-image:url('images/msdos/win3x_topbottomborder.gif');
}
#win3x #top_border #top_left_corner
{
	width: 23px;
	height: 23px;
	background-image:url('images/msdos/win3x_topleftcorner.gif');
	position: absolute;
	left: 0;
	top: 0;
}
#win3x #top_border #top_right_corner
{
	width: 23px;
	height: 23px;
	background-image:url('images/msdos/win3x_toprightcorner.gif');
	position: absolute;
	right: 0;
	top: 0;
}
#win3x #bottom_border
{
	height: 4px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-image:url('images/msdos/win3x_topbottomborder.gif');
}
#win3x #bottom_border #bottom_right_corner
{
	width: 23px;
	height: 23px;
	background-image:url('images/msdos/win3x_bottomrightcorner.gif');
	position: absolute;
	right: 0;
	bottom: 0;
}
#win3x #bottom_border #bottom_left_corner
{
	width: 23px;
	height: 23px;
	background-image:url('images/msdos/win3x_bottomleftcorner.gif');
	position: absolute;
	left: 0;
	bottom: 0;
}
#win3x #content
{
	position: absolute;
	left: 4px;
	right: 4px;
	top: 24px;
	bottom: 4px;
	overflow-y: auto;
}



/** Atari TOS (others) window properties **/
#tos
{
	background-color: #DEDEDE;
	position: absolute;
	top: 5%;
	left: 1%;
	right: 1%;
	bottom: 14%;
	border-right: solid 5px black;
	border-bottom: solid 5px black;
	border-left: solid 2px black;
	font-weight: bold;
	font-size: 15px;
}
#tos #window_top
{
	background-image: url('images/others/tos_topbar.gif');
	position: absolute;
	height: 18px;
	left: 0;
	right: 0;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}
#tos #window_top span
{
	background-color: #DEDEDE;
	display: table;
    margin: 0 auto;
    border-left: 5px #DEDEDE solid;
    border-right: 5px #DEDEDE solid;
}
#tos #window_top #cross_button
{
	position: absolute;
	left: 0px;
	top: 0px;
}
#tos #content
{
	position: absolute;
	left: 0;
	right: 0;
	top: 22px;
	bottom: 0;
	overflow-y: auto;
}



/** Ubuntu (Linux) window properties **/
#ubuntu
{
	background-color: #FFF;
	position: absolute;
	top: 5%;
	left: 1%;
	right: 1%;
	bottom: 14%;
	border-radius: 7px 7px 1px 1px;
	border: solid 1px black;
}
#ubuntu #window_top
{
	background-image: url('images/linux/ubuntu_topbar.gif');
	position: absolute;
	height: 22px;
	left: 0;
	right: 0;
	border-radius: 7px 7px 0 0;
	border-bottom: solid 1px black;
}
#ubuntu #window_top #cross_button
{
	position: absolute;
	top: 2px;
	right: 4px;
}
#ubuntu #window_top span
{
	font-weight: bold;
	color: #FFF;
	display: table;
	margin: 0 auto;
	text-shadow: 1.25px 1.25px black;
	position: relative;
	top: 15%;
}
#ubuntu #window_top #menu_bar
{
	background-color: #EDE9E5;
	position: absolute;
	height: 24px;
	top: 23px;
	left: 0;
	right: 0;
}
#ubuntu #content
{
	position: absolute;
	left: 0;
	right: 0;
	top: 47px;
    bottom: 0;
	overflow-y: auto;
}
